@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  /* font-family: swiper-icons; */
  font-size: 16px !important;
  font-weight: 800;
}

::placeholder {
  color: rgb(105, 105, 105);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(150, 150, 150);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(150, 150, 150);
}
